html, body{
    margin:0;
    padding:0;
}
body{
    font-family:Tahoma, Arial, sans-serif;
    font-size:12px;
    width:550px;
    height:300px;
}
.profile{           /*общий отступ всего профиля*/
    padding:5px 10px;
}
.profile img{           /*рамка на всех фото*/
    display:block;
    padding:10px;
    border: 2px solid #34495e;
    border-radius:8px;
}
.profile .photo{        /*обтекание аватарки текстом*/
    float:left;
    width:152px;
}
.profile .info{         /*выравнивание справа общей инфы от аватара*/
    float:left;
    width:368px;
    margin-left:10px;
}

h2{           /*оформление колонок ОБЩАЯ ИНФА и АЛЬБОМЫ*/
    margin:0 !important;
    padding:10px !important;
    font-size:12px;
    font-weight:normal;
    background:#34495e !important;
    color:#fff;
    border-radius:4px;
}
.profile .info .fact{          /*оформление полей в ОБЩЕЙ ИНФОРМАЦИИ*/
    padding:10px;
    background:white;
}
.profile .fact:nth-child(odd){      /*оформление полей(цвет) типа "ПОЗЫВНЫЕ" */
    background:#ecf0f1;
}
.fact:after{
    content:"";
    clear:both;
    display:table;
}
.profile .fact .title{       /*выравнивание инфы в ОБЩЕЙ ИНФОРМАЦИИ*/
   float:left;
   width:120px;
   text-align:right;
   color:#7f8c8d;
}
.info .fact .value{           /*отступы инфы в ОБЩЕЙ ИНФОРМАЦИИ*/
   margin-left:140px;
   color:#34495e;
}
.albums{
    margin-top:5px;    
}
.albums img{        /*выравнивание в альбоме картинок*/
    float:left ;
    margin-right:5px !important;
}
.albums img:last-child{
    margin-right:0 !important;
}
.profile .button{            /*оформление кнопок под аватаркой*/
    display:block;
    height:30px;
    margin:5px 0;
    text-align:center;
    line-height:30px;
    color:#fff;
    border-radius:4px;
}
.profile .stroke{           /*кнока ПОГЛАДИТЬ*/
    background:#3498db;
}
.profile .feed{             /*кнопка НАКОРМИТЬ*/
    background:#2ecc71;
}
.profile .startle{          /*кнопка НАПУГАТЬ*/
    background:#e74c3c;
}